@import url(https://fonts.googleapis.com/css?family=Maven+Pro|Yrsa|Press+Start+2P);

html {
    font-family: 'Press Start 2P', cursive;
    overflow-x: hidden;
    overflow-y: hidden;
    user-select: none;
}

.loading {
    display: flex;
    flex-direction: column;
}

.game-logo {
    margin-bottom: 200px;
}

.game-logo img {
    width: 60px;
}

main {
    display: flex;
    flex-direction: column;
}

.panel {
    margin: 10px;
    padding: 20px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, .2);
}

.panel.buttons {
    display: flex;
    justify-content: center;
}

.panel.scores {
    position: relative;
    display: flex;
    background-color: #fcfefc;
    background-image: url(../../public/place.png);
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: 20% 80%;
    overflow: auto;
    z-index: -1;
}

.scores>img.russo {
    top: 30%;
    left: 40%;
    width: 150px;
    position: absolute;
    opacity: .9;
    filter: contrast(70%);
}

.scores>img.fly-turtle {
    position: absolute;
    width: 50px;
    left: -4.5em;
    opacity: .8;
    filter: contrast(70%);
    animation: flyturtle 30s infinite linear;
}

.score {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: #fff;
    font-weight: 600;
    margin-top: 80px;
}

.score .character {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.score .character img {
    width: 498px;
    height: 394px;
}

.score h1 {
    font-weight: 300;
    margin: 5px;
    font-size: 1.6rem;
}

.result {
    display: flex;
    justify-content: center;
    font-size: 1.3rem;
    font-weight: 600;
}

.result .win {
    color: green;
}

.result .lose {
    color: red;
}

@keyframes flyturtle {
    0% {
        transform: translateX(-600px);
    }

    100% {
        transform: translateX(2000px);
    }
}